---
import Anchor from '@components/Anchor.astro';
import Card from '@components/Card.astro';
import Date from '@components/Date.astro';
import Number from '@components/Number.astro';
import Layout from '@layouts/Layout.astro';
import supabase, { type Site } from '@lib/supabase';
import { ArrowRight, User } from 'lucide-preact';

const _root = await supabase.rpc('get_root_summary').single();
if (_root.error) throw new Error(_root.error.message);

const _posts = await supabase
  .from('post')
  .select('*, site (*)')
  .order('pub_date', { ascending: false })
  .limit(6);
if (_posts.error) throw new Error(_posts.error.message);

Astro.response.headers.set('cache-control', 'max-age=0, s-maxage=86400');

const { totalposts, totalsites, postweek } = _root.data;
const posts = _posts.data.map((post) => ({ ...post, site: post.site as Site }));
---

<Layout>
  <div class="mx-auto my-fluid-4 flex max-w-screen-md flex-col gap-fluid-3">
    <section>
      <h1 class="mb-2 font-fancy -tracking-[0.1em] text-6xl">feedjoy</h1>
      <p class="mb-fluid-4 text-2 text-lg">a minimal rss feed congregator</p>
      <ul class="flex max-w-max items-center gap-fluid-4 overflow-x-auto pb-1">
        <li class="flex shrink-0 flex-col gap-x-3 sm:flex-row sm:items-center">
          <span class="text-2">total posts:</span>
          <Number>{totalposts}</Number>
        </li>
        <li class="flex shrink-0 flex-col gap-x-3 sm:flex-row sm:items-center">
          <span class="text-2">total sites:</span>
          <Number>{totalsites}</Number>
        </li>
        <li class="flex shrink-0 flex-col gap-x-3 sm:flex-row sm:items-center">
          <span class="text-2">posts this week:</span>
          <Number>{postweek}</Number>
        </li>
      </ul>
    </section>
    <div class="h-1.5 w-full self-center rounded bg-2"></div>
    <section class="flex flex-col gap-2">
      <h2 class="text-2 text-lg">recent posts</h2>
      <ul class="grid grid-cols-1 gap-6 md:grid-cols-2">
        {
          posts.map((post) => (
            <li>
              <Card
                href={`/sites/${post.site.slug}/${post.slug}`}
                title={post.title}
              >
                <p slot="first" class="flex items-center gap-2">
                  <User class="h-4 w-4 shrink-0" />
                  <span>{post.site.name}</span>
                </p>
                <p slot="second">
                  <Date>{post.pub_date}</Date>
                </p>
              </Card>
            </li>
          ))
        }
      </ul>
      <Anchor class="mt-4 self-end" href="/page/1">
        read all posts
        <ArrowRight class="h-5 w-5" aria-hidden />
      </Anchor>
    </section>
  </div>
</Layout>
