---
import Anchor from '@components/anchor.astro';
import Breadcrumbs from '@components/breadcrumbs.astro';
import Date from '@components/date.astro';
import { CACHE_CONTROL } from '@const/headers';
import { slugSchema } from '@const/schemas';
import Layout from '@layouts/layout.astro';
import supabase, { Site } from '@lib/supabase';
import { Calendar, User } from 'lucide-preact';
import { z } from 'zod';

const params = z
  .object({ site: slugSchema, post: slugSchema })
  .safeParse(Astro.params);
if (!params.success) return Astro.redirect('/sites/page/1');

const { data: post, error } = await supabase
  .from('post')
  .select('*, site (*)')
  .eq('site.slug', params.data.site)
  .eq('slug', params.data.post)
  .single();
if (error) return Astro.redirect('/sites/page/1');

Astro.response.headers.set('Cache-Control', CACHE_CONTROL);

const site = post.site as Site;
---

<Layout title="feedjoy | post">
  <div class="mx-auto mt-fluid-4 flex max-w-screen-sm flex-col gap-fluid-1">
    <Breadcrumbs
      routes={[
        { href: '/sites/page/1', name: 'sites' },
        { href: `/sites/${site.slug}/page/1`, name: site.name },
      ]}
    />
    <section>
      <h1 class="mb-3 text-2xl">{post.title}</h1>
      <div class="flex flex-wrap items-center gap-10 text-2 text-sm">
        <div class="flex items-center gap-2">
          <User class="h-5 w-5" aria-hidden />
          <span>{site.name}</span>
        </div>
        <div class="flex items-center gap-2">
          <Calendar class="h-5 w-5" aria-hidden />
          <Date>{post.pub_date}</Date>
        </div>
      </div>
      <div class="my-5 h-1.5 w-5/6 rounded bg-2"></div>
      <p class="mb-6 !leading-relaxed text-sm">{post.summary}</p>
      <div class="flex justify-end">
        <Anchor href={post.link}>Read Post</Anchor>
      </div>
    </section>
  </div>
</Layout>
